body, html {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

header {
    padding: .75em;
    color: white;
    background-color: #303030;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: white;
}

section#app-root {
    margin: 0 1em;
}